.fx {
  display: flex;
}

.fx-cc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fxdc {
  flex-direction: column !important;
}

.fxdr {
  flex-direction: row !important;
}

.fxdr-s {
  flex-direction: row;
}

.fxdr-m {
  flex-direction: row;
}

.fxdr-l {
  flex-direction: row;
}

.fxdrerow {
  flex-direction: row-reverse;
}

.fjcc {
  justify-content: center;
}

.fjcsb {
  justify-content: space-between;
}
.fjcse {
  justify-content: space-evenly;
}
.fjcsa {
  justify-content: space-around;
}
.fjcfs {
  justify-content: flex-start;
}

.fjcfe {
  justify-content: flex-end;
}

.faibl {
  align-items: baseline;
}

.faic {
  align-items: center;
}

.faifs {
  align-items: flex-start;
}

.fxww {
  flex-wrap: wrap;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  color: #e7e7e7 !important;
}
* {
  color: #e7e7e7 !important;
}
html {
  width: 100%;
  height: 100%;
}
#root {
  width: 100%;
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.sub-text {
  color: #bababa !important;
}
.sub-text:hover {
  color: #e7e7e7 !important;
}
.mainframe {
  width: 100%;
  height: 100%;
  position: relative;
}
.menu-view {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 10%;
  align-items: stretch;
}
.menu-container {
  max-width: 200px;
  min-width: 200px;
  height: 100%;
  background-color: #131313;
  flex-grow: 1;
}
.menu-container-mobile {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #303030;
  border-top: 1px solid black;
}
.menu-container-mobile button {
  background-color: unset;
  border: none;
  width: 70px;
  height: 100%;
}
.menu-container-mobile button:hover {
  background-color: #8080802e;
  outline: none;
}
.mainview-container {
  height: 100%;

  flex-grow: 9;
  background: linear-gradient(210deg, #6c3800 0%, #000000 50%, #101010 65%);
}
.nowplaying-container {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2020;
  transition: 0.4s;
}
.nowplaying {
  width: 100%;
  height: 100%;
  background-color: #303030;
  padding: 0 10px;
}
.nowplaying-mobile-background {
  background: linear-gradient(180deg, #1e5787, #1e1e1e 40%) !important;
}
.nowplaying-desktop {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nowplaying-mobile {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.progress-bar-container {
  height: 30px;
  border-radius: 12px;
}
.progress-Bar {
  width: 100%;
  height: 5px;
  background-color: #676767;
  border-radius: 10px;
  position: relative;
  margin: 0 5px;
}
.progress-Bar:hover {
  cursor: pointer;
}
.playing-time {
  font-size: 12px;
  width: 100%;
}

.seeker {
  position: absolute;
  left: 0;
  height: 100%;
  background-color: #bababa;
  border-radius: 10px;
}
.progress-bar-container:hover .seeker {
  background-color: #0063b5;
}
.progress-bar-container:hover .seeker-thumb {
  opacity: 1;
}
.seeker-thumb {
  opacity: 0;
  position: absolute;
  right: -3px;
  top: -3px;
  width: 11px;
  height: 11px;
  background-color: white;
  border-radius: 50px;
  border: 1px solid #ffffff;
}

.music-controller {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 12px;
  border: none;
  margin: 5px 8px;
  background-color: unset;
}
.play {
  border: 1px solid;
  width: 30px;
  height: 30px;
}
.song-controls {
  position: relative;
  min-width: 30%;
  width: 40%;
  display: flex;
  flex-direction: column;
}
.controller {
  margin-bottom: 10px;
}
.song-information {
  font-size: 14px;
  width: 30%;
  flex-direction: row;
}

.cover-container {
  width: 50px;
  height: 50px;
}

.song-info {
  max-width: 100px;
  overflow: hidden;
  padding: 5px;
  margin-left: 5px;
  align-items: flex-start;
  justify-content: center;
}

.song-artist {
  font-size: 12px;
}

.nowplaying-option {
  width: 30%;
  justify-content: center;
  align-items: center;
}
.nowplaying-option-item {
  margin: 0 10px;
}

.play-btn-mobile-view {
  display: flex;
}
.control-mobile {
  width: 25%;
  height: 100%;
}
.song-info-mobile {
  width: 75%;
  height: 100%;
}
.song-info-mobile:hover {
  cursor: pointer;
}
.song-info-mobile > div {
  font-size: 16px;
}
.song-info-mobile .song-title {
  max-width: 60%;
  overflow: hidden;
}
.song-info-mobile .song-artist {
  max-width: 40%;
  overflow: hidden;
}

.nowplaying-hide-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  z-index: 2030;
  border: none;
  background: #6f6f6f17;
}

@media (max-width: 700px) {
  .nowplaying-container {
    height: 50px;
    bottom: 60px;
  }

  .nowplaying-desktop {
    display: none;
    flex-direction: column;
    padding: 5px 15px;
    justify-content: space-around;
  }
  .nowplaying-mobile {
    display: flex;
  }
  .menu-container {
    display: none;
  }
  .menu-container-mobile {
    display: flex;
  }
  .song-information {
    flex-direction: column;
    height: 65%;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    padding: 5px 15px;
    font-size: 20px;
  }
  .cover-container {
    width: 300px;
    height: 300px;
  }
  .song-info {
    width: 100%;
    max-width: none;
    align-items: center;
  }
  .song-artist {
    font-size: 14px;
  }
  .song-controls {
    width: 100%;
    min-width: unset;
    padding: 5px 15px;
    flex-direction: column-reverse;
  }
  .song-controls .controller {
    margin-bottom: 0;
    margin-top: 10px;
  }
  .controller .music-controller {
    width: 35px;
    height: 35px;
    font-size: 16px;
  }
  .controller .music-controller.play {
    width: 45px;
    height: 45px;
  }
  .nowplaying-option {
    justify-content: space-between;
    width: 100%;
  }
}
@media (max-width: 550px) {
  .cover-container {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 350px) {
  .cover-container {
    width: 200px;
    height: 200px;
  }
  .controller .music-controller {
    width: 30px;
    height: 30px;
  }
}
